<template x-if="user !== null && bank !== null">
  <form @submit.prevent="updateBank()" x-init="initBank(bank)" x-cloak x-show="modalForm === 'UpdateBank'"
    :class="{'overflow-hidden h-0': modalForm !== 'UpdateBank', 'overflow-y-auto max-h-[calc(100vh_-_4rem)] h-fit lg:h-fit bottom-0 lg:bottom-auto': modalForm === 'UpdateBank'}"
    class="bg-light w-full rounded-t-xl lg:rounded-xl lg:w-100 lg:max-w-xl p-6 lg:mx-auto max-h-[calc(100vh_-_4rem)] lg:h-fit overflow-auto bottom-0 lg:top-16 fixed lg:bottom-auto lg:absolute flex flex-col duration-300 ease-linear">

    <div class="flex items-center gap-2 mb-6">
      <button type="button" @click="modalForm = 'Profile'" class="w-7 h-7 flex flex-col items-center justify-center">
        <span class="iconify" data-icon="ic:outline-arrow-back-ios"></span>
      </button>
      <h4 class="font-semibold text-xl lg:text-2xl">Update <span class="first-letter:uppercase"
          x-text="user.username"></span> Bank</h4>
    </div>


    <div class="mb-6">
      <label for="bank" class="block mb-2 text-sm font-medium ">Bank Name</label>
      <select x-model="bankForm.bank" id="bank" name="bank"
        class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5">
        <option value="" disabled selected>Select a bank</option>
        <option x-cloak x-show="bank !== null" x-bind:value="bank.id" x-text="bank.bank.name"></option>
        <template x-for="b in allBanks">
          <template x-if="bank.bank.name !== b.name">
            <option :value="b.id" x-text="b.name"></option>
          </template>
        </template>
      </select>
    </div>

    <div class="mb-6">
      <label for="account_number" class="block mb-2 text-sm font-medium ">Account Number</label>
      <input x-model="bankForm.account_number" type="text" id="account_number"
        class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5"
        :placeholder="bank.account_number">
    </div>

    <div class="mb-6">
      <label for="rounting_number" class="block mb-2 text-sm font-medium ">Routing Number</label>
      <input x-model="bankForm.rounting_number" type="text" id="rounting_number"
        class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5"
        :placeholder="bank.rounting_number">
    </div>

    <div class="mb-6">
      <label for="account_name" class="block mb-2 text-sm font-medium ">Account Name</label>
      <input x-model="bankForm.account_name" type="text" id="account_name"
        class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5"
        :placeholder="bank.account_name">
    </div>

    <div class="mb-6">
      <label for="sort_code" class="block mb-2 text-sm font-medium ">Sort Code</label>
      <input x-model="bankForm.sort_code" type="text" id="sort_code"
        class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5"
        :placeholder="bank.sort_code">
    </div>

    <div class="py-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
      <button class="order-2 lg:order-1 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-danger text-light" type="reset">
        Reset
      </button>
      <button
        class="order-1 lg:order-2 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-primary text-light" type="submit">
        Submit
        <span x-show="loading" x-cloak class="ml-2 spinner-border spinner-border-sm" role="status"></span>
      </button>
    </div>

  </form>

</template>
