{% extends "base.html" %}

{% block title %}
{{ block.super|title }} - Email Verification and Confirmation
{% endblock title %}

{% block description %}
Complete your email verification process.
{% endblock description %}

{% block content %}
<section
  class="fixed top-0 left-0 z-50 overflow-y-auto w-screen h-screen bg-black/80 flex flex-col items-center justify-center">
  <form x-init="initializeVerifyEmail('{{key}}')"
    class="bg-light w-full rounded-t-xl lg:rounded-xl lg:w-100 lg:max-w-xl p-6 lg:mx-auto overflow-auto lg:top-16 fixed lg:absolute flex flex-col duration-300 ease-linear overflow-y-auto max-h-[calc(100vh_-_4rem)] h-fit lg:h-fit bottom-0 lg:bottom-auto">
    <div class="flex items-center gap-2 mb-6">
      <h4 class="font-semibold text-xl lg:text-2xl">Verify Email</h4>
      <a class="text-sm mb-6 cursor-pointer" type="button" @click="resendEmail('{{email}}')">Did not receive the email? <span class="text-primary font-semibold">Resend Verification Email</span></a>
    </div>

    <p class="mb-4">
      Complete your verification process.
    </p>

    <input x-model="verifyKey.key" type="hidden" id="name">

    <div class="py-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
      <button
        class="order-2 lg:order-1 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-danger text-light"
        type="reset">Reset</button>
      <button
        class="order-1 lg:order-2 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-primary text-light"
        @click="verifyEmail()" type="button">Submit</button>
    </div>

  </form>
</section>
{% endblock content %}
