<section x-cloak x-show="modalForm === 'About'" :class="{'overflow-hidden h-0': modalForm !== 'About', 'overflow-y-auto max-h-[calc(100vh_-_4rem)] h-fit lg:h-fit bottom-0 lg:bottom-auto': modalForm === 'About'}" class="bg-light w-full rounded-t-xl lg:rounded-xl lg:w-100 lg:max-w-xl p-6 lg:mx-auto max-h-[calc(100vh_-_4rem)] lg:h-fit overflow-auto bottom-0 lg:top-16 fixed lg:bottom-auto lg:absolute flex flex-col duration-300 ease-linear">
  <h4 class="flex flex-none mb-6 font-semibold text-xl lg:text-2xl">About EzzieeRewards</h4>

  <div class="py-4">
    <p>
      At Ezziee Rewards, we believe in the power of genuine connections between
      artists and their fans. We understand that the heartbeat of the music industry
      is fueled by passionate fans, and we're here to ensure that their dedication
      is not only recognized but also rewarded. In a world where artists often
      benefit from fan support without reciprocation, Ezziee Rewards envisions
      a revolutionary space. We see a collaborative environment where fans
      actively contribute to an artist's success, sharing not only in the
      joy of music but also in the tangible rewards it brings.
    </p>
    <br>
    <br>
    <p>
      <strong class="mb-2 font-mus block text-lg">Why Ezziee Rewards?</strong>
      <strong class="font-mus">Breaking Traditions</strong>: Acknowledging Fan Power. Traditionally, fans are the unsung
      heroes, driving an artist's success with minimal acknowledgment. Ezziee
      Rewards is here to break traditions, creating a community where fans are
      vital partners in the artist's story.
      <br>
      <strong class="font-mus">Transparency and Fairness</strong>: Our Pillars
      We are committed to transparency. See how your engagement contributes to
      the artist's earnings, and consequently, your own rewards.
      Fairness is our guiding principle, fostering a relationship built on
      trust and mutual benefit.
    </p>
    <br>
    <br>
    <p>
      <strong class="mb-2 font-mus block text-lg">Our Mission</strong>
      t Ezziee Rewards, our mission is to revolutionize the traditional artist-fan
      relationship by fostering a true partnership; To bring fans and artists
      closer than ever. We want to empower fans by recognizing their role in an
      artist's success. By creating a space where engagement is rewarded,
      we aim to reshape the music industry, making it a place where both artists
      and fans thrive together.
    </p>
  </div>


</section>
