<form x-cloak x-show="modalForm === 'Login'" :class="{'overflow-hidden h-0': modalForm !== 'Login', 'overflow-y-auto max-h-[calc(100vh_-_4rem)] h-fit lg:h-fit bottom-0 lg:bottom-auto': modalForm === 'Login'}" class="bg-light w-full rounded-t-xl lg:rounded-xl lg:w-100 lg:max-w-xl p-6 lg:mx-auto max-h-[calc(100vh_-_4rem)] lg:h-fit overflow-auto bottom-0 lg:top-16 fixed lg:bottom-auto lg:absolute flex flex-col duration-300 ease-linear">
  <h4 class="mb-2 font-semibold text-xl lg:text-2xl">Login to Account</h4>
  <a class="text-sm mb-6 cursor-pointer" type="button" @click="modalForm = 'Register'">Do not own an account? <span class="text-primary font-semibold">Register</span></a>

  <div class="mb-6">
    <label for="username" class="block mb-2 text-sm font-medium ">Your Username</label>
    <input x-model="loginForm.username" type="text" id="username" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="Username">
  </div>
  <!-- <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium ">Your Email</label>
    <input x-model="loginForm.email" type="email" id="email" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="Email Address">
  </div> -->
  <div class="mb-6">
    <label for="password" class="block mb-2 text-sm font-medium ">Your Password</label>
    <input x-model="loginForm.password" type="password" id="password" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="**********">
  </div>

  <div class="py-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
    <button class="order-2 lg:order-1 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-danger text-light" type="reset">Reset</button>
    <button class="order-1 lg:order-2 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-primary text-light" @click="login()" type="button">Submit</button>
  </div>


</form>
