<form @submit.prevent="register()" x-cloak x-show="modalForm === 'Register'" :class="{'overflow-hidden h-0': modalForm !== 'Register', 'overflow-y-auto max-h-[calc(100vh_-_4rem)] h-fit lg:h-fit bottom-0 lg:bottom-auto': modalForm === 'Register'}" class="bg-light w-full rounded-t-xl lg:rounded-xl lg:w-100 lg:max-w-xl p-6 lg:mx-auto max-h-[calc(100vh_-_4rem)] lg:h-fit overflow-auto bottom-0 lg:top-16 fixed lg:bottom-auto lg:absolute flex flex-col duration-300 ease-linear">
  <h4 class="mb-2 font-semibold text-xl lg:text-2xl">Create New Account</h4>
  <p class="text-base mb-6">
    Your journey begins here. Create your account using your email address, phone number, and social media handles to unlock exclusive rewards and become an integral part of our vibrant community
  </p>
  <a class="cursor-pointer mb-6 text-sm" @click="modalForm = 'Login'">Already have an account? <span class="text-primary font-semibold">Login</span></a>

  <div class="mb-6">
    <label for="username" class="block mb-2 text-sm font-medium ">Your Username</label>
    <input x-model="registerForm.username" type="text" id="username" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="username">
  </div>
  <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium ">Your Name</label>
    <input x-model="registerForm.name" type="text" id="name" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="name">
  </div>
  <div class="mb-6">
    <label for="phone" class="block mb-2 text-sm font-medium ">Your Phone</label>
    <input x-model="registerForm.phone" type="text" id="phone" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="phone">
  </div>
  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium ">Your Email</label>
    <input x-model="registerForm.email" type="email" id="email" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="email">
  </div>
  <div class="mb-6">
    <label for="password1" class="block mb-2 text-sm font-medium ">Your Password</label>
    <input x-model="registerForm.password1" type="password" id="password1" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="password">
  </div>
  <div class="mb-6">
    <label for="password2" class="block mb-2 text-sm font-medium ">Confrim Your Password</label>
    <input x-model="registerForm.password2" type="password" id="password2" class="bg-light border border-primary text-primary placeholder-primary text-sm rounded-lg focus:ring-gsecondary focus:border-secondary block w-full p-2.5" placeholder="confirm password">
  </div>

  <button class="text-primary font-semibold" type="button" @click="modalForm = 'Reset'">forgot password?</button>

  <div class="py-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
    <button class="order-2 lg:order-1 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-danger text-light" type="reset">Reset</button>
    <button class="order-1 lg:order-2 block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-primary text-light" type="submit">
      Submit
      <span x-show="loading" x-cloak class="ml-2 spinner-border spinner-border-sm" role="status"></span>
    </button>
  </div>

</form>
