<!-- <form x-cloak x-show="modalForm === 'Instagram'" class="bg-light w-full rounded-t-xl lg:rounded-l-none lg:w-100 lg:max-w-xl p-6 lg:mx-auto">
  <h4 class="mb-6 font-semibold text-xl lg:text-2xl">Resend Instagram</h4>



  <div class="py-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
    <button class="block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-danger text-light" type="reset">Reset</button>
    <button class="block py-2 px-6 w-full rounded-xl hover:shadow-sm duration-150 font-medium bg-primary text-light" @click="connectInstagram()" type="button">Submit</button>
  </div>
</form> -->
